/* Just to see what's what */
body > table * { border: 1px solid black; }

/* Formatting */
a
{
	font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
}

/* Main body */
body
{
	background-color: #990000;
	background-image: url(mm_bg_red.gif);
}
div#banner
{
	border: 10px solid #FFF;
	border-radius: 10px;
	margin-left: 100px;
	width: 994px;
}
div#banner div
{
	display: inline-block;
	vertical-align: center;
}
	a#culverlink img
	{
		height: 100px;
		width: 194px;
	}
	a#SLPlink img
	{
		height: 100px;
		width: 588px;
	}
	div#school img
	{
		height: 100px;
		width: 204px;
	}
div#tabmenu
{
	text-align: center;
}
div#leftside
{
	float: left;
	width: 200px;
}
ul#navlinks li.selected
{
	background-color: #F4F4F4;
}
ul#navlinks li.selected a:link,
ul#navlinks li.selected a:visted
{
	color: #161616 !important;
}
ul#navlinks li a:link
{
	color: #F4F4F4;
	font-weight: 500;
}
ul#navlinks li a:visited
{
	color: #A0A0A0;
}
div#rightside
{
	float: right;
	text-align: justify;
	width: 200px;
}
div#footer
{
	clear: both;
	color: #FFF;
	font-size: 10px;
	text-align: center;
}
