/* Formatting */
@font-face
{
	font-family: Roboto;
	url(http://fonts.googleapis.com/css?family=Roboto);
}
*
{
	font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
}
a
{
	font-family: Inconsolata;
}
table
{
	border: 1px solid black;
	border-collapse: collapse;
}
thead
{
	border: 2px solid black;
}
tr
{
	border: 1px solid black;
}
th, td
{
	border: 1px solid black;
}

/* Main body */
body
{
	background-color: #900;
	background-image: url(images/red-bg.png);
}
div#banner
{
	border-color: white;
	border-radius: 10px;
	border-style: solid;
	border-width: 10px;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}
div#banner div
{
	display: inline-block;
	margin: 0;
	padding: 0;
}
a#culverlink img
{
	height: 100px;
	width: 194px;
}
a#SLPlink img
{
	height: 100px;
	width: 588px;
}
img#schoolimg
{
	height: 100px;
	width: 204px;
}
div#tabmenu
{
	text-align: center;
}
div#tabmenu ul
{
	display: inline-block;
	list-style-type: none;
	margin-left: -0px
}
div#tabmenu ul li
{
	display: inline-block;
	padding-right: 15px;
}
div#tabmenu ul li a:link,
div#tabmenu ul li a:visited
{
	color: #F4F4F4;
}
div#leftside
{
	background-color: #903;
	border-color: white;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin-right: 20px;
	padding: 10px;
	float: left;
	width: 250px;
}
ul#navlinks
{
	list-style-type: none;
}
ul#navlinks li
{
	padding: 3px 0;
}
ul#navlinks li.selected
{
	background-color: #F4F4F4;
}
ul#navlinks li a:link
{
	color: #F4F4F4;
	font-weight: 500;
	text-decoration: none;
}
ul#navlinks li a:hover
{
	text-decoration: underline;
}
ul#navlinks li a:visited
{
	color: #A0A0A0;
}
ul#navlinks li.selected a:link,
ul#navlinks li.selected a:visited
{
	color: #161616;
}
div#rightside
{
	background-color: #903;
	border-color: white;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	float: right;
	margin-left: 20px;
	padding: 10px;
	text-align: justify;
	width: 250px;
}
h1#pagename
{
	text-align: center;
}
div.content
{
	margin: 0px 300px;
}
div#footer
{
	clear: both;
	color: #FFF;
	font-size: 8px;
	text-align: center;
	vertical-align: bottom;
}
ul#stakeholders
{
	list-style: circle;
}
